<div class="board-view" style="width: 80%;">
  <div class="board-columns">
    <!-- For each status, a column -->
    <div class="board-column"
         *ngFor="let status of statuses"
         (dragover)="onDragOver($event)" 
         (drop)="onDrop(status, $event)">

      <div class="column-header">
        <h3 [title]="status">{{status | titlecase}}</h3>
        <span class="badge">{{getWorkItemsByStatus(status).length}}</span>
      </div>

      <div class="column-content">
        <!-- Display tasks for this status -->
        <div class="workitem-card"
             *ngFor="let item of getWorkItemsByStatus(status)"
             draggable="true"
             (dragstart)="onDragStart($event, item)"
          
             [class]="'type-' + item.type.toLowerCase()"
            (click)="onWorkItemSelected(item.id)" >

          <div class="card-header" *ngIf="item.id">
            <span class="item-key">{{item.type | slice:0:1}}-{{item.id.substring(0, 4)}}</span>
            <span class="item-type" [ngClass]="'type-' + item.type.toLowerCase()">
              {{item.type}}
            </span>
            <button class="delete-item" (click)="deleteWorkItem(item.id); $event.stopPropagation()">
              <i class="bi bi-x"></i>
            </button>
          </div>

          <div class="card-title">
            {{item.title}}
          </div>

          <div class="card-footer">
            <div class="item-priority" [ngClass]="'priority-' + item.priority.toLowerCase()">
              <i [class]="getPriorityIcon(item.priority)"></i>
            </div>
            <div class="item-estimate" *ngIf="item.estimatedHours">
              {{item.estimatedHours}}h
            </div>
            <div class="item-assignee" *ngIf="item.assignedUser">
              <img [src]="item.assignedUser.avatarUrl || 'assets/default-avatar.png'"
                   [alt]="item.assignedUser.username"
                   class="avatar">
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<app-work-item-details 
  *ngIf="selectedWorkItemId && showWorkItemModal" 
  [workItemId]="selectedWorkItemId" 
  [projectID]="projectID"
  (closeModal)="closeWorkItemModal()">
</app-work-item-details>


<app-popup 
  *ngIf="showPopup"
  [title]="popupTitle"
  [message]="popupMessage"
  [isSuccess]="popupIsSuccess"
  [redirectPath]="popupRedirectPath"
  [showCancelButton]="showCancelButton"
  (closed)="closePopup()">
</app-popup>